{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>News Aggregator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="{% static 'news/css/plugin-frameworks/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'news/css/plugin-frameworks/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'news/css/fonts/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'news/css/common/styles.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<!-- Navbar -->
<header>
    <a class="logo" href="{% url 'news-home' %}"><img
            src="https://res.cloudinary.com/svp19/image/upload/v1572602692/newsaggregator/news_logo_tcedcq.png"
            alt="Logo"></a>
    {% if user.is_authenticated %}
        <div class="right-area">
            <a href="{% url 'news-search' %}">
                <form class="src-form">
                    <button type="submit"><i class="ion-search text-warning"></i></button>
                    <input type="text" placeholder="Search here" disabled>
                </form><!-- src-form -->
            </a>
        </div><!-- right-area -->
    {% endif %}
    <a class="menu-nav-icon" data-menu="#main-menu" href="{% url 'news-home' %}"><i class="ion-navicon"></i></a>

    <ul class="main-menu text-dark" id="main-menu">




        {% if user.is_authenticated %}
            <li><a href="{% url 'news-home' %}">Home</a></li>
            <li><a href="{% url 'list-topics' %}">Explore</a>
                {#                <ul class="drop-down-menu drop-down-inner">#}
                {#                    <li><a href="#">Business</a></li>#}
                {#                    <li><a href="#">Science and Technology</a></li>#}
                {#                    <li><a href="#">Entertainment</a></li>#}
                {#                    <li><a href="#">Health</a></li>#}
                {#                    <li><a href="#">More . . .</a></li>#}
                {#                </ul>#}
            </li>
            <li class="drop-down"><a href="#!">Account<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}

        {% if user.is_staff %}
            <li class="drop-down"><a href="#!">Create<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    <li><a href="{% url 'create-article-url' %}">Article</a></li>
                    <li><a href="{% url 'create-author' %}">Author</a></li>
                    <li><a href="{% url 'create-tag' %}">Tag</a></li>
                    <li><a href="{% url 'create-topic' %}">Topic</a></li>
                </ul>
            </li>
        {% endif %}

    </ul>

    <div class="clearfix"></div>
</header>

{% block content %}
{% endblock %}


<!-- JS -->
<script src="{% static 'news/css/plugin-frameworks/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'news/css/plugin-frameworks/bootstrap.min.js' %}"></script>
<script src="{% static 'news/css/plugin-frameworks/swiper.js' %}"></script>
<script src="{% static 'news/css/common/scripts.js' %}"></script>

</body>

</html>