{% extends 'news/base.html' %}
{% block content %}

<section class="bg-1-white ptb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">
                <h4 class="mb-30 mt-50 clearfix"><b>Latest in {{ topic }}</b></h4>

                <div class="row">

                    <!-- Repeating Card -->
                    {% for article in articles %}
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                            <div class="card h-100 h-xs-350x">
                                <div class="bg-white h-100">

                                    <!-- SETTING IMAGE WITH bg-3 -->
                                    <div class="h-50">
                                        <img src="{{ article.image_url }}">
                                    </div>

                                    <div class="plr-25 ptb-15 h-50">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">

                                                <h5 class="color-ash"><b>{{ article.article_topic }}</b></h5>
                                                <h4 class="mtb-10">
                                                    <a href="{% url 'article-detail' article.id %}"><b>
                                                        {{ article.headline }}
                                                    </b></a></h4>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>

                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- plr-25 ptb-15 -->
                                </div><!-- hot-news -->
                            </div><!-- card -->
                        </div><!-- col-lg-4 col-md-6 -->
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}